.home {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;

  @media screen and (max-width: 1080px) {
    flex-flow: column nowrap;

    .text {
      margin: 0 auto;
    }
  }

  .text {
    justify-content: center;
  }

  .open {
    color: lightgray;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 5rem;
  }

  .make {
    margin: auto;
    min-width: 536px;
    font-family: Modak, fantasy;
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding: 1rem 0;
    color: black;
    span {
      color: orange;
    }
  }

  .text {
    color: gray;
    line-height: 1rem;
    font-size: small;
    max-width: 400px;
  }

  .start {
    margin: 2rem 0;
    background: transparent;
    padding: 0.5rem 1rem;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 4rem;
    cursor: pointer;

    transition: background 0.3s, color 0.3s;

    &:hover {
      background: orange;
      color: white;
    }
  }
}
