.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  line-height: 2.5rem;
  flex-flow: row wrap;
  padding: 2rem;

  * {
    flex: 0 0 auto;
    display: inline-block;
  }

  &::before {
    content: "";
    width: 40rem;
    height: 40rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -32rem;
    left: -12rem;
    box-shadow: 0 0 1rem 0.5rem #5551;
  }

  .logo {
    font-weight: 600;
    border-left: 1rem;

    span {
      color: orange;
    }
  }
}
