.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  flex-flow: row wrap;
  padding: 2rem;

  * {
    line-height: 4rem;
    flex: 0 0 auto;
    display: inline-block;
  }

  &::before {
    content: "";
    width: 40rem;
    height: 40rem;
    background: white;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    top: -32rem;
    left: -12rem;
    box-shadow: 0 0 1rem 0.5rem #5551;
  }

  nav {
    margin-left: auto;

    span {
      display: inline-block;
      margin-left: 1rem;
      cursor: pointer;
      background: none;
      transition: background 0.3s;

      &:active {
        background: orange;
      }
    }
  }
}

.logo {
  font-weight: 600;
  border-left: 1rem;

  span {
    color: orange;
  }
}
