.navIcon {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 1rem;
  width: 2rem;
  height: 2rem;
  place-content: center;
  margin-left: 2rem;

  .bar {
    height: 0.3rem;
    background: orange;
    width: 1.4rem;
  }
  .middle {
    width: 1.1rem;
    margin: 0.2rem 0 0.2rem 0.3rem;
  }
}
