footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 840px) {
    flex-flow: column nowrap;
    justify-content: center;
  }
}
.about {
  width: 25rem;
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  span {
    color: var(--gray);
  }

  .icons {
    margin: 1.5rem;
    .social {
      margin: 0.5rem;
      padding: 0.5rem;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 0.3rem 0.3rem #5551;
    }
  }

  @media screen and (max-width: 1080px) {
    flex-flow: column nowrap;
  }
}
