:root {
  --lightgray: #bbbbbb;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Archivo+Black&family=Modak&falily=Open+Sans:wght@300;600&display=swap");

body {
  margin: 1rem 6rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Ubuntu",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbfafa;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fontes:  Roboto - thin e bold
//          OpenSans light
//          'Archivo Black'
