nav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-height: 2rem;

  @media screen and (max-width: 700px) {
    align-items: stretch;
    flex-flow: column nowrap;
    width: 536px;
    margin: 1rem 0 6rem 0;
    span {
      min-height: 2.5rem;
      text-align: center;
    }
    span a {
      display: block;
      width: 100%;
      background: white;
      border: 1px solid var(--gray);
    }
  }

  span {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 2rem;

    a {
      text-decoration: none;
      color: var(--gray);
    }

    &.active a {
      font-weight: 600;
      color: black;
    }
  }
}
